<div class="container" style="display: flex;">
  <!-- Left-hand side -->
  <div style="flex: 1; padding-right: 20px; border-right: 1px solid #ccc;">
   <app-topics-upload (dataUploaded)="handleDataUpload($event)"></app-topics-upload>

    <p-button label="Process" icon="pi pi-check" class="p-button-rounded p-button-primary"></p-button>

    <p-accordion>
      <!-- Relevant Data List -->
      <p-accordionTab header="Relevant List">
        <p-orderList [value]="relevantData" [listStyle]="{ height: '25rem' }">
          <ng-template let-item pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
              <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ item.topic }}</span>
              </div>
            </div>
          </ng-template>
        </p-orderList>
      </p-accordionTab>

      <!-- Irrelevant Data List -->
      <p-accordionTab header="Irrelevant List">
        <p-orderList [value]="irrelevantData" [listStyle]="{ height: '25rem' }">
          <ng-template let-item pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
              <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ item.topic }}</span>
              </div>
            </div>
          </ng-template>
        </p-orderList>
      </p-accordionTab>
    </p-accordion>

  </div>
