<div class="container" style="display: flex; height: 100vh;">
  <!-- Left-hand side -->
  <div style="flex: 1; padding-right: 20px; border-right: 1px solid #ccc; overflow-y: auto;">
    <app-topics-upload (dataUploaded)="handleDataUpload($event)"></app-topics-upload>

    <p-accordion>
      <!-- Relevant Data List -->
      <p-accordionTab header="Relevant List">
        <p-orderList [value]="relevantData" [listStyle]="{ height: '25rem' }">
          <ng-template let-item pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
              <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ item.topic }}</span>
              </div>
            </div>
          </ng-template>
        </p-orderList>
      </p-accordionTab>

      <!-- Irrelevant Data List -->
      <p-accordionTab header="Irrelevant List">
        <p-orderList [value]="irrelevantData" [listStyle]="{ height: '25rem' }">
          <ng-template let-item pTemplate="item">
            <div class="flex flex-wrap p-2 align-items-center gap-3">
              <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ item.topic }}</span>
              </div>
            </div>
          </ng-template>
        </p-orderList>
      </p-accordionTab>
    </p-accordion>
  </div>

  <!-- Right-hand side -->
  <div style="flex: 0.3; padding-left: 20px; overflow-y: auto;">
    <p-floatLabel>
      <input pInputText id="Enter Topic" [(ngModel)]="value" />
      <label>Enter Topic</label>
    </p-floatLabel>

    <div class="container">
      <p-button label="Process" icon="pi pi-check" class="p-button-rounded p-button-primary" (onClick)="processTopic()"></p-button>
    </div>

    <div *ngIf="successMessage" class="alert alert-success mt-3">
      <i class="fa fa-check-circle"></i> {{ successMessage }}
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      <i class="fa fa-times-circle"></i> {{ errorMessage }}
    </div>

  </div>
</div>
