.container {
  text-align: center;
  padding: 20px;
}

.upload-section {
  margin: 20px 0;
}

p-button {
  margin-bottom: 20px;
}

.custom-tabs {
  margin-bottom: 20px;
}

.p-accordion .p-accordion-header {
  text-align: left;
}
